services:
  db:
    image: mysql:5.7
    container_name: rocket_db 
    volumes:
      - db_data_wp:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: somewordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: rocket_wp
    volumes:
      - wordpress:/var/www/html
      - ./my_theme/:/var/www/html/wp-content/themes/my_theme
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
volumes:
  wordpress:
  db_data_wp: {}